<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie DB</title>
</head>
<body>
    <% if (articles) {  %>
        <% for (const [key, article] of Object.entries(articles)) { %>

            <%= article.title %>
            <img src="https://image.tmdb.org/t/p/w500/<%-article.poster_path %>" alt="">
        <% } %>
    <% } else { %>

        <p>hello1</p>
    <% } %>
</body>

</html>
